<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quên mật khẩu</title>
</head>

<body>
    <p>
        Xin chào, ({{$email}})
    </p>
    <p>Cảm ơn bạn đã đăng ký theo dõi kênh tin tức của Thế Giới Vuông</p>
    <p>Hãy truy cập vào liên kết bên dưới để biết thêm thông tin chi tiết</p>
    <p><a href="{{$link}}">{{$link}}</a></p>
    <br>
    <br>
    <p>Cảm ơn đã sử dụng dịch vụ của Thế Giới Vuông</p>
</body>

</html>